.bg {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.grid-bg {
  position: absolute;
  inset: 0;
  background-image: url('/src/assets/BlurryBckg.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo-wrapper {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 100;
    display: flex;
}
.navbar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.streamline-icon {
  /* This precise combination converts a black icon into #7E9A82 */
  filter: brightness(0) saturate(100%) invert(64%) sepia(8%) saturate(1054%) hue-rotate(80deg) brightness(94%) contrast(85%);
}
.logout-btn {
    background-color:#7E9A82 !important;
    color: white !important;
    border: none !important;
    position: absolute;
    right: 0;
    top: 16px; 
    right: 16px;
    display: flex;
}


#view-table-btn {
    position: fixed;
    right: 0;
    bottom: 0; 
    margin: 20px;
}

@media(max-width: 550px) {
    .bg {
        background-image: none;
        background-position: top;
    }
}