.bg {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.grid-bg {
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(rgba(105, 255, 105, 0.172) 4px, transparent 1px),
    linear-gradient(90deg, rgba(67, 255, 38, 0.06)4px, transparent 1px);
  background-size: 40px 40px;
  pointer-events: none;
}

.logo-wrapper {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 100;
    display: flex;
}
.navbar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logout-btn {
    position: absolute;
    right: 0;
    top: 16px; 
    right: 16px;
    display: flex;
}


#view-table-btn {
    position: fixed;
    right: 0;
    bottom: 0; 
    margin: 20px;
}

@media(max-width: 550px) {
    .bg {
        background-image: none;
        background-position: top;
    }
}